// main-layout.component.scss
@import '../../../styles/variables';
@import '../../../styles/mixins';

.main-layout {
  min-height: 100vh;
  display: flex;
  flex-direction: column;

  &__body {
    flex: 1;
    display: flex;
    margin-top: $navbar-height;
  }

  &__content {
    flex: 1;
    width: 100%;
    min-height: calc(100vh - #{$navbar-height});
  }
}
